body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(94, 68, 133);
  color: rgb(196, 185, 90);
  font-family: 'Source Sans Pro' sans-serif;
  font-size: 17px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid rgb(114, 104, 15);
}
label {
  display: block;
  margin: 0.5rem 2;
}
.survey-form {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}